.contactList {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.contact {
   padding: 20px;
   border: 1px solid grey;
   border-radius: 10px;

   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 50px;
}